[Unit]
Description=Oled Monitor
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/ubuntu/scripts/OLED/HMON/hpara-v14.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target